table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.yellow-bg {
  background-color: yellow;
}

.green-bg {
  background-color: green;
}

.red-bg {
  background-color: red;
}

.orange-bg {
  background-color: orange;
}
